@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

* { 
    font-family: 'Montserrat Alternates', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff;
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.post {
    margin: 20px;
    text-align: center;
}

.post h2 {
    color: #3498db;
    font-size: 2rem;
}

.post p {
    text-align: left;
    padding-top: 10px;
    font-size: 1.3rem;
}

.post img.centered-image {
    padding-top: 15px;
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor padre */
    height: auto; /* Hace que la imagen sea responsive */
}


/*ESTILOS DEL MODO OSCURO*/
.dark-mode {
    background-color: #222;
    color: #fff;
}
